:root {

  //    White
  --theme_bg: rgba(255, 255, 255, 1);
  --theme_header_bg: rgba(255, 255, 255, 1);
  --theme_results_bg: rgba(255, 255, 255, 1);
  --theme_results_h: rgba(20, 20, 20, 1);
  --theme_results_p: rgba(80, 80, 80, 1);
  --theme_results_l: rgba(10, 50, 200, 1);
  --theme_results_sec: rgba(240, 240, 240, 1);
  --theme_results_high: rgba(10, 100, 200, 1);
  --theme_border_big: rgba(220, 220, 220, 1);
  --theme_suggest_hover: rgba(240, 240, 240, 1);
  --theme_svg: invert(0);


  // Grey
  //  --theme_bg: rgba(60, 60, 60, 1);
  //  --theme_header_bg: rgba(40, 40, 40, 1);
  //  --theme_results_bg: rgba(40, 40, 40, 1);
  //  --theme_results_h: rgba(220, 220, 220, 1);
  //  --theme_results_p: rgba(180, 180, 180, 1);
  //  --theme_results_l: rgba(10, 150, 255, 1);
  //  --theme_results_sec: rgba(50, 50, 50, 1);
  //  --theme_results_high: rgba(10, 100, 200, 1);
  //  --theme_border_big: rgba(70, 70, 70, 1);
  //  --theme_suggest_hover: rgba(70, 70, 70, 1);
  //  --theme_svg: invert(1);


  //    Black
  //  --theme_bg: rgba(10, 10, 10, 1);
  //  --theme_header_bg: rgba(20, 20, 20, 1);
  //  --theme_results_bg: rgba(20, 20, 20, 1);
  //  --theme_results_h: rgba(220, 220, 220, 1);
  //  --theme_results_p: rgba(180, 180, 180, 1);
  //  --theme_results_l: rgba(10, 150, 255, 1);
  //  --theme_results_sec: rgba(40, 40, 40, 1);
  //  --theme_results_high: rgba(10, 100, 200, 1);
  //  --theme_border_big: rgba(70, 70, 70, 1);
  //  --theme_suggest_hover: rgba(40, 40, 40, 1);
  //  --theme_svg: invert(1);


  //    Blue
  //  --theme_bg: rgba(0, 5, 10, 1);
  //  --theme_header_bg: rgba(0, 10, 20, 1);
  //  --theme_results_bg: rgba(0, 10, 20, 1);
  //  --theme_results_h: rgba(180, 180, 180, 1);
  //  --theme_results_p: rgba(120, 120, 120, 1);
  //  --theme_results_l: rgba(100, 200, 200, 1);
  //  --theme_results_sec: rgba(0, 20, 40, 1);
  //  --theme_results_high: rgba(100, 200, 200, 1);
  //  --theme_border_big: rgba(0, 30, 70, 1);
  //  --theme_suggest_hover: rgba(0, 20, 50, 1);
  //  --theme_svg: invert(.8);


  //   Green
  //    --theme_bg: rgba(0, 10, 5, 1);
  //  --theme_header_bg: rgba(0, 20, 10, 1);
  //  --theme_results_bg: rgba(0, 20, 10, 1);
  //  --theme_results_h: rgba(180, 180, 180, 1);
  //  --theme_results_p: rgba(120, 120, 120, 1);
  //  --theme_results_l: rgba(50, 150, 100, 1);
  //  --theme_results_sec: rgba(0, 30, 10, 1);
  //  --theme_results_high: rgba(50, 150, 100, 1);
  //  --theme_border_big: rgba(0, 70, 30, 1);
  //  --theme_suggest_hover: rgba(0, 50, 20, 1);
  //  --theme_svg: invert(.8);


  //   Red
  //    --theme_bg: rgba(10, 2, 2, 1);
  //    --theme_header_bg: rgba(20, 5, 5, 1);
  //    --theme_results_bg: rgba(20, 5, 5, 1);
  //    --theme_results_h: rgba(180, 180, 180, 1);
  //    --theme_results_p: rgba(120, 120, 120, 1);
  //    --theme_results_l: rgba(200, 50, 50, 1);
  //    --theme_results_sec: rgba(40, 0, 0, 1);
  //    --theme_results_high: rgba(200, 50, 50, 1);
  //    --theme_border_big: rgba(70, 10, 20, 1);
  //    --theme_suggest_hover: rgba(50, 20, 20, 1);
  //    --theme_svg: invert(.8);
}
