.search {
  float: left;
  width: 50em;
  left: calc(50px + 154px);
  height: 6ch;
  padding: 10px;
}

.form {
  height: 100%;
  margin: .25ch auto;
  width: calc(100%);
  display: flex;

  * {
    transition: border-radius 0s;
  }

  input {
    color: var(--theme_results_p);
    background-color: var(--theme_results_bg);
    font-size: 15px;
    height: 100%;
    width: calc(100% - 5ch);
    border: var(--theme_border_big) 2px solid;
    border-right: 0;
    border-radius: 25px 0 0 25px;
    padding: 0 2ch;
  }

  button {
    font-size: 15px;
    height: 100%;
    width: 5ch;
    border: var(--theme_border_big) 2px solid;
    border-left: 0;
    border-radius: 0 25px 25px 0;
    padding: 0;
    background-color: var(--theme_results_bg);
    cursor: pointer;
  }
}

.suggest_container {
  width: 100%;
  background-color: var(--theme_results_bg);
  position: relative;
}

@media only screen and (max-width: 70em) {
  .form {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .search {
    width: 100%;
  }
}

.svg {
  filter: var(--theme_svg);
}