.page {
  font-size: 18px;
  font-weight: 500;
  color: var(--theme_results_h);
  width: fit-content;
  margin: 20px 5px;
  padding: 0;
  cursor: pointer;
}

.page:hover {
  text-decoration: underline;
}

.page_this {
  font-size: 20px;
  font-weight: 600;
  color: var(--theme_results_l);
  width: fit-content;
  margin: 20px 5px;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}
