.link {
  width: 100%;
  padding: 7px 10px;
  margin: 0;
  border: 2px solid var(--theme_border_big);
  border-bottom: 1px rgb(100, 100, 100);
  border-top: 0;
  color: var(--theme_results_p)
}

.link:hover {
  cursor: pointer;
  background-color: var(--theme_suggest_hover);
}
