.main{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.buttons{
  width: 100%;
  button{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    font-size: 1em;
    width: 80%;
    margin-left: 10%;
    border: 0;
    border-bottom: 1px solid rgb(180,180,180);
    background-color: white;
    box-shadow: 3px 3px 14px 10px rgba(0,0,0,0.025);
    transition: background-color 0.33s, box-shadow 0.33s;
    border-radius: 10px;
  }
  button:hover{
    box-shadow: 3px 3px 14px 10px rgba(0,0,0,.05);
    background-color: rgb(220,220,220);
  }
}

.content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  flex-direction: column;
}

.content_container{
  width: 60%;
  border-radius: 10px;
  box-shadow: 3px 3px 14px 10px rgba(0,0,0,0.05);;
  padding: 20px;
  h2{
    font-size: 34px;
    text-align: center;
    font-weight: 300;
    font-family: sans-serif;
  }
}

.image_section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  margin: 0 30px;
  p{
    text-align: center;
    font-size: 18px;
    b{
      font-size: 24px;
    }
  }
}

.image_group{
  span{
    width: 70% !important;
    margin-left: 15% !important;
  }
}

.image_img{
  border-radius: 50%;
}

@media only screen and (max-width: 65em) {
  .content_container{
    width: 90%;
  }
  .image_section{
    grid-template-columns: repeat(1, 1fr);
  }
}