.hint_div {
  margin: 0px 0.5em;
  background-color: white;
  border: 1px solid rgba(20, 20, 20, 0.05);
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 3px 3px 14px 10px rgba(0, 0, 0, 0.025);
  min-width: 24em;
  width: 24em;
  height: fit-content;
}

.hint_h {
  color: rgb(20, 20, 20);
  margin: 0px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  width: fit-content;
}

.hint_qdesc {
  margin-top: 0px;
  font-size: 12px;
  cursor: pointer;
  color: rgb(10, 50, 200);
  font-weight: 400;
  width: fit-content;
}

.hint_link {
  margin: 0px;
  padding: 5px;
  font-size: 0.9em;
  color: rgb(30, 30, 30)
}

.hint_desc {
  font-size: 12px;
  font-weight: 300;
  color: rgb(80, 80, 80)
}

@media only screen and (max-width: 65em) {
  .hint_div {
    width: 100%;
    max-width: 40em;
    min-width: 0px;
    margin: 0;
  }
}

hr.thin {
  border: 0;
  border-top: 1px solid rgba(200, 200, 200);
}
