.noresult_div {
  margin: 0 0.5em;
  background-color: var(--theme_results_bg);
  border: 1px solid rgba(20, 20, 20, 0.05);
  border-left: 2px solid rgba(20, 20, 20, .1);
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 3px 3px 14px 10px rgba(0, 0, 0, 0.01);
  transition: box-shadow 0.5s, transform 0.25s;
  width: calc(100 / 3 * 2%);
  max-width: 75ch;
  min-width: 39em;
  justify-self: flex-end;
}

.noresult_div:hover {
  box-shadow: 3px 3px 14px 10px rgba(0, 0, 0, 0.05);
  transform: translateX(-2px);
}

.noresult_p {
  text-align: center;
  font-size: 20px;
  color: var(--theme_results_h)
}

@media only screen and (max-width: 70em) {
  .noresult_div {
    width: 100%;
    max-width: 40em;
    min-width: 0;
    margin: 0;
  }
  .noresult_div:hover {
    transform: none
  }
  .noresult_p {
    font-size: 16px;
  }
}
