.result_div {
  margin: 0 0.5em;
  background-color: var(--theme_results_bg);
  border: 1px solid rgba(20, 20, 20, 0.05);
  border-left: 2px solid rgba(20, 20, 20, .1);
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 3px 3px 14px 10px rgba(0, 0, 0, 0.01);
  transition: box-shadow 0.5s, transform 0.25s;
  width: calc(100 / 3 * 2%);
  max-width: 75ch;
  min-width: 39em;
  justify-self: flex-end;
}

.result_div:hover {
  box-shadow: 3px 3px 14px 10px rgba(0, 0, 0, 0.05);
  transform: translateX(-2px);
}

.result_h {
  color: var(--theme_results_h);
  margin: 0;
  font-size: 20px;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

.result_h:hover {
  text-decoration: underline;
}

.result_l {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 12px;
  cursor: pointer;
  color: var(--theme_results_l);
  font-weight: 400;
  width: fit-content;
}

.result_d {
  margin: 0;
  padding: 5px;
  font-size: 12px;
  color: var(--theme_results_p);
  font-weight: 300;
}

@media only screen and (max-width: 65em) {
  .result_div {
    width: 100%;
    max-width: 40em;
    min-width: 0;
    margin: 0;
  }
  .result_h:hover {
    text-decoration: none;
  }
}
