.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
}

.form_container {
  z-index: 100;
  background-color: var(--theme_header_bg);
  transition: background-color .5s;
  top: 0;
  height: 6ch;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid var(--theme_border_big);
  box-shadow: 5px 5px 14px 5px rgba(0, 0, 0, 0.033);
  position: sticky;
  width: 100%;
}

.logo {
  height: 100%;
  padding: 0 25px;
  margin: 0;
  display: flex;
}

.grid_container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.svg {
  filter: var(--theme_svg);
}

.results {
  width: 100%;
  min-width: 40em;
  display: grid;
  grid-row-gap: 15px;
  padding: 50px 0;
  height: fit-content;
}

.special {
  height: fit-content;
  width: 100%;
  display: grid;
  min-width: 25em;
  grid-row-gap: 15px;
  padding: 50px 0;
  transition: 1s grid-row-gap;
}

@media only screen and (max-width: 70em) {
  .grid_container {
    grid-template-columns: 1fr;
  }
  .results {
    min-width: 0;
    padding: 20px 10px;
    grid-row: 2;
    grid-row-gap: 10px;
    justify-content: center;
  }
  .special {
    min-width: 0;
    padding: 10px 10px;
    grid-row: 1;
    grid-row-gap: 10px;
    justify-content: center;
  }
  .logo {
    height: 10%;
    padding: 0 10px;
    margin: 0;
    display: flex;
  }
}
