.button{
  border-radius: 45%;
  background-color: rgb(200, 200, 200);
  box-shadow: 3px 3px 14px 10px rgba(0,0,0,.25);
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  span{
    width: 80% !important;
    height: 80% !important;
    margin-left: 10% !important;
    margin-top: 10% !important;
  }
}