.button {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  justify-self: end;
  position: relative;
  span {
    width: 80% !important;
    height: 80% !important;
    margin-left: 10% !important;
    margin-top: 10% !important;
  }
}

.svg{
    filter: var(--theme_svg);
}