.special_div {
  background-color: var(--theme_results_bg);
  border: 1px solid rgba(20, 20, 20, 0.05);
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 3px 3px 14px 10px rgba(0, 0, 0, 0.025);
  max-width: 30em;
  min-width: 30em;
  height: fit-content;
}

.special_url{
    color: var(--theme_results_l);
    margin: 0;
    font-size: 12px;
}

.special_title {
  font-size: 20px;
  color: var(--theme_results_h);
  font-weight: 500;
  margin-bottom: 3px;
}

.special_desc {
  padding: 5px;
  font-weight: 100;
  font-size: 13px;
  text-align: justify;
  color: var(--theme_results_p)
}

.special_link {
  font-size: 12px;
  float: right;
  color: var(--theme_results_l);
}

.special_rating{
    color: var(--theme_results_high);
    font-weight: 700;
}

.special_subs {
  background-color: var(--theme_results_sec);
  border-radius: 5px;
  padding: 10px;

  ul {
    padding: 0;
    list-style-type: none;

    li {
      padding: 4px;
      border-bottom: 1px solid grey;
      border-radius: 2px;
      font-size: 14px;
      color: var(--theme_results_l)
    }
  }
}

.special_genre{
    color: var(--theme_results_h);
}

.special_genres {
  color: var(--theme_results_l);
  font-size: 11px;
}

@media only screen and (max-width: 70em) {
.special_div{
    max-width: 40em;
    min-width: 0;
}

}