.link{
  width: 100%;
  padding: 10px 5px;
  margin: 0;
  border: 2px solid rgba(240,240,240,1);
  border-bottom: 1px rgb(100, 100, 100);
  border-top: 0;
}

.link:hover{
  background-color: rgba(240,240,240,.5);
}